@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to left, #ffa5a586, #FFD6C0);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #a56b6b7c;
    width: 600px;
    padding: 10px;
    margin: auto;
}
p{
    text-align: justify;
}

h1{
    color: #440381;
    text-align: center;
    text-shadow: 1px 1px 2px #31025c9f;
}

h2{
   color: #EC368D;
}